body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #FFB6C1, #FFF0E1); /* Градиент розового и бежевого */
    color: #333;
}

header {
    background-color: #8A2BE2; /* Сиреневый */
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.logo a {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links li a:hover {
    color: #FF69B4; /* Розовый */
    transform: scale(1.1);
}

h1 {
    margin-top: 20px;
    font-size: 32px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.quote-generator, .to-do-list {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    background-color: #8A2BE2; /* Сиреневый */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}